body{
	font-family: Arial, sans-serif;
	margin: 2vw;
}
h1,h2,h3,h4{
	font-family: Arial,sans-serif;
	margin:0;
}
#article-table td{
    border: 1px solid black;
    padding:.3vw;
}
table #article-table{
    border: 1px solid black;
    border-collapse: collapse;
}
 table.header-table{
	border-collapse: collapse;
	text-align: center;

}

 table.header-table td{
	border: 2px solid #0B8BC9;
	padding:7px;
}

.header-table img{
	height: : 80px;
	width: 80px;
}

div#article-title{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
table.header-table td.info{
	width: 90vw;
}

p.section-title{
	font-size: 20px;
	font-weight: bold;
}

table{
	border-collapse:collapse;
}

